<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>인덱스</title>
</head>
<body>
    <h1>인덱스</h1>
    hello {{ nickname }}
    <hr>

    <a href="{{ url_for('register') }}">회원가입</a>
    <a href="{{ url_for('login') }}">로그인</a>
    <a href="{{ url_for('write') }}">글쓰기</a>

    <hr>

    {% for post in posts %}
        <h2>
            <a href="{{ url_for('detail', post_id=post[0]) }}">
                {{ post[1] }}
                <small>{{ post[3] }}</small>
            </a>
        </h2>
    {% endfor %}

</body>
</html>